:root{
  --background-btn: #0061fe;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

img{
  max-width: 100%;
}

.container{
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}


/* utils */

.d-flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.justify-content-center{
  justify-content: center;
}

.justify-content-between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.h-100{
  height: 100%;
}

.debug{
  min-width: 200px;
  border: 1px solid black;
  background-color: rgba(255, 0, 0, .2);
}

.btn{
  padding: 10px;
  border: none;
  color: white;
  background-color: var(--background-btn);
}


/* header */
header .top-bar{
  position: fixed;
  left: 0;
  right: 0; 
  z-index: 999;
  height: 80px;
  background-color: white;
}

header .header-left-side{
  margin-left: 20px;
}

header .header-right-side{
  margin-right: 20px;
}

header nav ul{
  list-style: none;
}

header nav ul a{
  margin-right: 40px;
  color: black;
  text-decoration: none;
}

header nav ul img{
  margin-right: 40px;
}

header #jumbotron{
  padding-top: 160px;
  background-color: #b4d0e6;
}

#jumbotron h1{
  font-size: 4rem;
  font-weight: bold;
}

#jumbotron .content{
  margin-top: 50px;
}

#jumbotron .content .content-prova{
  width: 30%;
}

#jumbotron .content .content-img{
  position: relative;
  width: 70%;
}

#jumbotron .content .content-prova p{
  margin-bottom: 25px;
  font-size: .9rem;
}

#jumbotron .content .content-prova .btn{
  margin-bottom: 25px;
}

#jumbotron .content .content-prova i{
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 3rem;
}

#jumbotron .content .content-img img{
  position: absolute;
  top: 0px;
  left: 0;
}