:root{
  --background-btn-color-i: #0061fe;
  --backgroung-jumbotron: #b4d0e6;
  --border-col-color-mese: #cbcbcf;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

img{
  max-width: 100%;
}

.container{
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.container-in{
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}


/* utils */
.d-flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.justify-content-center{
  justify-content: center;
}

.justify-content-between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.h-100{
  height: 100%;
}

.debug{
  min-width: 200px;
  border: 1px solid black;
  background-color: rgba(255, 0, 0, .2);
}

.btn{
  padding: 10px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: var(--background-btn-color-i);
}


/* header */
header .top-bar{
  position: fixed;
  left: 0;
  right: 0; 
  z-index: 999;
  height: 80px;
  background-color: white;
}

header .header-left-side{
  margin-left: 20px;
}

header .header-right-side{
  margin-right: 20px;
}

header nav ul{
  list-style: none;
}

header nav ul a{
  margin-right: 40px;
  color: black;
  text-decoration: none;
}

header #jumbotron{
  padding-top: 160px;
  background-color: var(--backgroung-jumbotron);
}

#jumbotron h1{
  font-size: 4rem;
  font-weight: bold;
}

#jumbotron .content{
  margin-top: 50px;
}

#jumbotron .content .content-prova{
  width: 30%;
}

#jumbotron .content .content-img{
  position: relative;
  width: 70%;
}

#jumbotron .content .content-prova p{
  margin-bottom: 25px;
  font-size: .9rem;
}

#jumbotron .content .content-prova .btn{
  margin-bottom: 25px;
}

#jumbotron .content .content-prova i{
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 3rem;
}

#jumbotron .content .content-img img{
  position: absolute;
  top: 0px;
  left: 0;
}


/* main */
main .pacchetti{
  margin-top: 120px;
}

main .pacchetti h1{
  font-weight: bold;
}

main .pacchetti .fatturazione i.circle{
  margin-top: 60px;
  margin-bottom: 50px;
  cursor: pointer;
  font-size: 1rem;
}

main .pacchetti .fatturazione i.circle#check{
  color: var(--background-btn-color-i);
}

main .pacchetti .fatturazione span{
  padding-right: 50px;
}

main .row .col{
  width: calc(100% / 3 - 40px);
  min-width: 250px;
  border: 1px solid var(--border-col-color-mese);
}

main .row .col .col-top{
  padding: 10px 0;
  border-bottom: 1px solid var(--border-col-color-mese);
  text-align: center;
}

main .row .col .col-info{
  padding: 40px 30px;
  border-bottom: 1px solid var(--border-col-color-mese);
}

h2{
  margin-bottom: 20px;
  font-weight: bold;
}

.row .col .col-info .price{
  font-weight: bold;
}

.row .col .col-info .mese{
  margin-top: 10px;
  color: var(--border-col-color-mese);
}

.row .col .col-info .informazioni{
  margin-top: 60px;
}

.row .col span{
  font-size: .8rem;
}

.row .col .info{
  margin-bottom: 30px;
}

.row .col .info-left{
  margin-right: 5px;
}

.row .col .col-info .informazioni .btn{
  margin-top: 20px;
  width: 100%;
}

.row .col p{
  margin-top: 40px;
}

.row .col .col-specifiche{
  padding: 40px 30px 0 30px;
}

.row .col .col-specifiche .specifiche{
  margin-top: 40px;
}

.row .col .col-specifiche .specifiche .info i{
  color: var(--background-btn-color-i);
}

main .pacchetto-enterprise{
  margin-top: 50px;
}

.pacchetto-enterprise .row .col{
  width: 100%;
}

.pacchetto-enterprise .row .col .col-enterprise{
  position: relative;
  padding: 40px 30px 20px 30px;
}

.pacchetto-enterprise .row .col .col-enterprise .btn{
  position: absolute;
  top: 40px;
  right: 30px;
}

main .partner{
  margin-top: 150px;
}

.partner .partner-content .partner-content-img{
  width: 60%;
  padding: 0 20px;
}

.partner .partner-content .partner-content-text{
  width: 40%;
  padding: 40px 20px;
}

.partner .partner-content .partner-content-text .btn{
  margin-top: 40px;
  border: 1px solid black;
  color: black;
  background-color: white;
}